* {
  margin: 0px;
  padding: 0px;
  }

body {
  margin: 0px;
  padding: 0px;
  background-color: #FFFFFF;
  color: #333333;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

hr {
  height: 8px;
  width: 100%;
  background-color: #000000;
  border: none;
  color:#000000;
  margin-bottom: 10px;
  }

#pageContainer {
  width: 740px;
  margin-left: auto;
  margin-right: auto;
  }

#header {
  width: 740px;
  height: 80px;
  background-color: #bb1f1f;
  margin-top: 10px;
  border-bottom: #d2d2d2 solid 5px;
  text-align: right;
  margin-bottom: 20px;
  }

#leftSide {
  width: 260px;
  float: left;
  }

#rightSide {
  width: 420px;
  float: right;
  }

.numBox {
  height: 48px;
  width: 48px;
  border: 1px #000000 solid;
  background-color: #bb1f1f;
  text-align: center;
  vertical-align: middle;
  line-height: 48px;
  color: #FFFFFF;
  font-size: 18pt;
  float: left;
  margin-right: 8px;
  }

h1 {
  color: #333333;
  font-size: 16pt;
  }

h2 {
  color: #333333;
  font-size: 12pt;
  }

img {
  border:0;
}
.showcase {
  margin-top: 10px;
  border: 0px #000000 solid;
  margin-bottom: 40px;
  }

p {
  font-size: 12pt;
  margin-bottom: 20px;
  }

#footer {
  clear: both;
  width: 740px;
  font-size: 8pt;
  border-top: 2px #000000 solid;
  }
#footer p {
  font-size: 8pt;
  margin:10px;
}

#header #title {
  float: left;
  color: #FFFFFF;
  padding-left: 100px;
  margin-top: 10px;
  font-size: 24pt;
  }

#header #subTitle {
  float: left;
  clear: left;
  color: #FFFFFF;
  padding-left: 100px;
  font-size: 12pt;
  }

#upcoming_meetups h2 {
  margin-top:10px;
}
#upcoming_meetups p {
  text-indent:0;
  font-size:12px;
  padding:5px 0 0 5px;
  margin:0 0 5px 0;
}
#bmoreonrails_tweets ul.tweet_list li {
  list-style-type:none;
  padding-top:15px;
  font-size:12px;
}

ul.locations {
  list-style-type:none;
}
