!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }
    %title
      B'more on Rails - Praise for RailsConf 2010
    %link{ :href => "favicon.ico", :rel => "SHORTCUT ICON" }
    %link{ :href => "images/logo64square.png", :rel => "apple-touch-icon-precomposed" }
    %meta{ :name => "description", :content => "B'more on Rails is a community of Baltimore folks who use the Ruby programming language and the Rails application framework." }
    %link{ :href => "http://bmoreonrails.org", :rel => "canonical" }
    %link{ :href => "bmoreonrails.css", :rel => "stylesheet", :type => "text/css" }
    %link{ :href => "style.css", :rel => "stylesheet", :type => "text/css" }
  %body
    #pageContainer
      -# %a{ :id => "homeLink", :href => "/"}
      -#   %img{ :src => "/images/ruby_100.png", :alt => "B'more on Rails" }
      %h1.headline RailsConf in Baltimore was a huge success!
      %h2 Here's what some folks had to say about Baltimore and Bmoreonrails:
      -tweets.each do |tweet|
        %h3
          %a{ :href => tweet[:url] }= tweet[:text]
        %p
          %a{ :href => "http://twitter.com/#{tweet[:user]}" }= tweet[:user]
      #footer
        %hr
        %p
          \&copy; 2010 B'more On Rails | Website hosted by
          %a{ :href => "http://www.smartlogicsolutions.com/" }
            SmartLogic Solutions
          | Logo by
          %a{ :href => "http://www.craftwork.net" }
            Charles Martucci / Craftwork
    %script{ :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" }
    %script{ :src => "javascripts/jquery.tweet.js" }
    %script
      $(document).ready(function() {
      $("#bmoreonrails_tweets").tweet({
      username: "bmoreonrails",
      join_text: "auto",
      count: 5,
      auto_join_text_default: "we said,",
      auto_join_text_ed: "we",
      auto_join_text_ing: "we were",
      auto_join_text_reply: "we replied to",
      auto_join_text_url: "we were checking out",
      loading_text: "loading tweets..."
      });
      });
    %script{ :src => "http://platform.twitter.com/anywhere.js?id=p0zKtbxfjRSmvX7dBIQg&amp;v=1" }
    %script{ :type => "text/javascript" }
      twttr.anywhere(function(twitter) {
      twitter.hovercards();
      });
    %script{ :type => "text/javascript" }
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    %script{ :type => "text/javascript" }
      try {
      var pageTracker = _gat._getTracker("UA-15608127-1");
      pageTracker._trackPageview();
      } catch(err) {}
