* {
  margin: 0px;
  padding: 0px;
  }

body {
  margin: 0px;
  padding: 0px;
  }

#pageContainer {
  width: 840px;
  background:#fff url(images/logo300.png) no-repeat 0 20px;
  margin-left: auto;
  margin-right: auto;
  }

#leftSide {
  width: 300px;
  float: left;
  }

#leftSide h2 {
  padding-left: 4px;
}

#rightSide {
  width: 500px;
  float: right;
  }

h1,h2,h3 {margin: 10px 0 5px 0;}

p {
  margin-bottom: 20px;
  }

h1.headline,h2.headline {
  font-size: 36px;
  margin-bottom: 5px;
  color:#a02529;
  text-shadow: 3px 3px 1px #ddd;
  padding-left: 340px;
}

h2.headline {
  color:#333;
  text-shadow: none;
}

h1.headline {
  padding-top: 20px;
}

#footer {
  clear: both;
  font-weight: normal;
  padding:40px 0 0 0;
  }

#footer hr {
  border-top: 2px #333 solid;
}

#footer p {
  padding:5px 0 15px 0;
  width:840px;
  text-align:center;
  margin:10px auto 0 auto;
}

#meetups h2 {
  margin-top:10px;
}

#meetups h3 {
  background: #c1bd46;
  padding: 2px 0px 2px 8px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin-left: -8px;
}

#meetups h3 a {
  text-decoration: none;
  display: block;
  padding: 4px;
}

#meetups h3 a:hover {
  text-decoration: underline;
}

#meetups h4 {
  padding-left: 4px;
}

#meetups p {
  text-indent:0;
  padding:5px 0 0 5px;
  margin:0 0 5px 0;
}
#bmoreonrails_tweets ul.tweet_list li {
  list-style-type:none;
  padding-top:15px;
  font-size:13px;
  font-weight: normal;
}

ul.locations {
  list-style-type:none;
  margin:10px;
}
.banner {
  text-align:center;
  background:#c1bd46;
  padding:1px 0 10px;
}
.banner h1 {
  font-size:1.8em;
  font-weight:bold;
  text-shadow: 3px 3px 1px #b1ad36;
}
.banner a {
  color:#333;
}
/* */
#call {
  text-align:center;
  background:#c1bd46;
  padding:20px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
.event .info {
  width:80%;
  float:left;
}
.event .logo {
  float:right;
  margin-top:20px;
}
.event {
  position:relative;
  clear:both;
}
.quote {
  padding:0 2em;
}
.quote p {
  padding:0 2em;
}


/* interior page-specific */
body.interior #pageContainer #homeLink {
  float: left;
  margin: 20px 25px auto 0px;
}

body.interior .simple_header {
  line-height:130px;
}
.clear {clear:both;}

.members-array {
  margin-top: 10px;
  width:480px;
}
.member a {
  float:left;
}
.member img {
  height:60px;
  width:60px;
}

.banner h2 {
  font-size:1.3em;
  font-weight:bold;
  text-shadow: 3px 3px 1px #b1ad36;
}

.talks-by-locals {
  margin:5px auto;
  width:840px;
}
.talks-by-locals .talk {
  width:320px;
  float:left;
}

.talks-by-locals .talk, .talks-by-locals h2, .talks-by-locals h1 {
  margin: 2px;
  margin-left: 0;
  padding: 5px;
  text-align: left;
}

.talks-by-locals .talk img, .talks-by-locals .talk .info {
  float:left;
}
.talks-by-locals .talk img {
  width:53px;
  height:53px;
}
.talks-by-locals .talk .info {
  width:250px;
  padding-left:0.4em;
}
.talks-by-locals a {
  text-decoration:none;
}
.talks-by-locals a:hover {
  text-decoration:underline;
}
.talks-by-locals .talk .info h3 {
  margin:0;
  padding:0;
  font-size:17px;
  text-align:left;
}
.talks-by-locals .talk .info p {
  margin:0;
  padding:0;
  font-size:13px;
  font-weight:normal;
  text-align:left;
}


